#grey{
    border: 1px solid black;
    border-radius: 10px;
    background-color: grey;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 60px;
    padding-right: 30px;
    margin: 10px;

}
#white{
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 60px;
    padding-right: 30px;
    margin: 10px;
}
#blue{
    border: 1px solid black;
    border-radius: 10px;
    background-color: blue;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 60px;
    padding-right: 30px;
    margin: 10px;
}
#yellow{
    border: 1px solid black;
    border-radius: 10px;
    background-color: yellow;
    padding: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 60px;
    padding-right: 30px;
    margin: 10px;
}
#purple{
    border: 1px solid black;
    border-radius: 10px;
    background-color: purple;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 60px;
    padding-right: 30px;
    margin: 10px;
}

/*.header{
    background-color: #E5E4E2;
    text-align: center;
    padding: 6px;

}*/
.canvas{
    text-align: center;
}
.h2-text{
    margin-top: 50px;
}
.party{
    width: 530px;
    margin-left: 400px;
}